/** overriding antd css */
.ant-collapse {
  border: none;
  border-radius: 0;
}

.ant-collapse-header {
  border-radius: 0;  
  background-color: #F5F5F5;
}

.ant-collapse-content {
  border-radius: 0;
}
/** end of overriding antd css */

.app-container {
  width: 300px;
  height: 550px;
  background-color: #FFF;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.search-box {
  padding: 9px 12px;
  background-color: #F5F5F5;
}

.no-result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.window-header-container {
  margin: -6px 0;
}

.window-header-status-dot {
  display: inline-block;
  margin-right: 12px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.window-header-status-dot.green {
  background-color: #52C41A;
}

.window-header-status-dot.gray {
  background-color: #DDD;
}

.window-header-subTitle-text {
  font-size: 12px;
  font-weight: 400;
}

.window-item-container {
  margin: -16px;
}

.multiple-domain-item .ant-collapse-header {
  background-color: #FFF;
}

.multiple-domain-item .ant-collapse-content.ant-collapse-content-active {
  background-color: #F8F8F8;
}

.domain-item-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.domain-item-container:hover {
  cursor: pointer;
  background-color: rgba(63, 146, 247, 0.1);
}

.domain-item-title-text {
  margin-left: 8px;
  max-width: 210px;
  font-size: 12px;
}

.domain-header-title-text {
  display: block;
  margin-left: -2px;
  max-width: 210px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.65);
}

.domain-item-container.selected {
  background-color: rgba(63, 146, 247, 1);
}

.domain-item-container.selected .domain-item-title-text {
  color: #FFF;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  border: none;
  border-radius: 0;
  background-color: rgba(236, 91, 86, 1);
  opacity: 0;
  transition: 200ms opacity background-color ease-in-out;
}

.window-header-container .close-btn {
  top: -6px;
  bottom: -6px;
  right: -16px;
}

.close-btn:hover {
  background-color: rgba(236, 91, 86, 1);
}

.window-header-container:hover .close-btn,
.domain-item-container:hover .close-btn {
  opacity: 1;
}

.close-icon {
  font-size: 14px;
  color: #FFF;
}
